In [1]:
from splinter import Browser
import pandas as pd
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
There is no [mac64] chromedriver for browser  in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/101.0.4951.41/chromedriver_mac64.zip
Driver has been saved in cache [/Users/adityabagchi/.wdm/drivers/chromedriver/mac64/101.0.4951.41]

In [3]:
mars= {}
url= "https://redplanetscience.com/"
browser.visit(url)

In [4]:
html= browser.html
soup= bs(html, 'html.parser')
element= soup.select_one('div.list_text')
title= element.find('div', class_= 'content_title').text
title
paragraph= element.find('div', class_= 'article_teaser_body').text
paragraph

'Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.'

In [5]:
mars["news_title"]= title
mars["news_paragraph"]= paragraph

In [6]:
url2= "https://spaceimages-mars.com/"
browser.visit(url2)

In [7]:

element= browser.find_by_tag('button')[1]
element.click()

In [8]:
html= browser.html
soup= bs(html, 'html.parser')
image_url= soup.find('img', class_= 'fancybox-image')['src']
image_url

'image/featured/mars1.jpg'

In [9]:
fullurl= url2+image_url
fullurl

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [10]:
mars['feature_image_url']= fullurl

In [11]:
url4= "https://marshemispheres.com/"
browser.visit(url4)

In [12]:
hemisphere_image_url= []
imagelink= browser.find_by_css('a.product-item img')
for link in range(len(imagelink)):
    hemisphere={}
    browser.find_by_css('a.product-item img')[link].click()
    element= browser.find_by_text('Sample')['href']
    hemisphere['image_url']= element
    hemisphere['title']= browser.find_by_css('h2.title').text
    hemisphere_image_url.append(hemisphere)
    browser.back()
    
    
hemisphere_image_url    

mars["hemispheres"]= hemisphere_image_url

In [13]:
mars

{'news_title': "What's Mars Solar Conjunction, and Why Does It Matter?",
 'news_paragraph': 'NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.',
 'feature_image_url': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'hemispheres': [{'image_url': 'https://marshemispheres.com/images/full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'image_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'image_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'image_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}]}

In [23]:
url3= "https://galaxyfacts-mars.com"
df_facts= pd.read_html(url3)[0]
df_facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [24]:
df_facts.columns= ["description", "mars", "earth"]
df_facts

               description             mars            earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [25]:
df_facts.set_index("description", inplace= True)
df_facts

                                    mars            earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [26]:
mars["facts"]= df_facts.to_html(classes= "table table-striped")
mars

{'news_title': "What's Mars Solar Conjunction, and Why Does It Matter?",
 'news_paragraph': 'NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.',
 'feature_image_url': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'hemispheres': [{'image_url': 'https://marshemispheres.com/images/full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'image_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'image_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'image_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}],
 'facts': '<table border="1" class="dataframe table table-striped">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>mars</th>\n      <th>earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'}